<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"
          media="screen,projection"/>
    <link rel="stylesheet" href="materialize/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tela do Técnico</title>
</head>
<body>
<div class="container-tela-usuario">
    <div class="card-tela-usuario">
        <h2 class="center-align titulo-login">Bem-vindo!</h2>
        <h4>Chamados Abertos</h4>
        <table id="chamadosAbertos" class="highlight centered responsive-table"
               width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Setor</th>
                <th>Descrição</th>
                <th>Prioridade</th>
                <th>Data de início</th>
                <th>Status</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="chamado:${chamadosAbertos}">
                <td th:text="*{chamado.id}"></td>
                <td th:text="*{chamado.setor}"></td>
                <td th:text="*{chamado.descricao}"></td>
                <td th:text="*{chamado.prioridade}"></td>
                <td th:text="*{chamado.dataInicio}"></td>
                <td th:style="${!chamado.atendido ? 'color: red' : ''}"> Não Atendido
                </td>
                <td>
                    <button class="waves-light btn rounded" onclick="toggleChamados(this)"
                            th:attr="data-id=${chamado.id}">        &#10003;

                    </button>
                </td>

            </tr>
            </tbody>
        </table>

        <h4>Chamados Atendidos</h4>
        <table id="chamadosAtendidos" class="highlight centered responsive-table"
               width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Setor</th>
                <th>Descrição</th>
                <th>Prioridade</th>
                <th>Data de início</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="chamado:${chamadosAtendidos}">
                <td th:text="*{chamado.id}"></td>
                <td th:text="*{chamado.setor}"></td>
                <td th:text="*{chamado.descricao}"></td>
                <td th:text="*{chamado.prioridade}"></td>
                <td th:text="*{chamado.dataInicio}"></td>
                <td th:style="${chamado.atendido ? 'color: green' : ''}"> Atendido</td>
            </tr>
            </tbody>
        </table>
        <div class="center-align">
            <a class="waves-effect waves-light btn" href="/">Sair</a>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function toggleChamados(elemento) {
        var id = elemento.getAttribute("data-id");

        fetch('/alterar-status?id=' + id, {
            method: 'POST'
        })
        .then(() => {
            location.reload();
        });

    }
</script>
</body>
</html>