<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Você esta logado na Tela do Usuário</title>
</head>
<body>
<h2>Bem-vindo!</h2>

<h3>Chamados Anteriores</h3>
<ul>
    <li>
        <strong>Usuário:</strong>root<br>
        <strong>Setor:</strong>TI<br>
        <strong>Descrição:</strong> Problema na rede<br>
        <strong>Prioridade:</strong> Alta<br>
        <strong>Data de Início:</strong> 2024-04-22<br>
    </li>
</ul>

<a href="/criar-chamado">Criar Novo Chamado</a><br>

</body>
</html>
