<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Você está na Tela de Chamados</title>
</head>
<body>

<h2>Bem-vindo!</h2>

<h3>Status do chamado</h3>
<ul>
    <li>
        <strong>Usuário:</strong>root<br>
        <strong>Setor:</strong>TI<br>
        <strong>Descrição:</strong> Problema impressora<br>
        <strong>Prioridade:</strong> Média<br>
        <strong>Data de Início:</strong> 2024-04-22<br>
        <br>
        <p><b>Qual o status do chamado?</b></p>
        <select name="Status">
            <option value="Opcao" disabled selected>Escolha uma opção</option>
            <option value="Aguardo">Aguardando Técnico</option>
            <option value="atendimento">Em atendimento</option>
            <option value="escalado">Escalado para outro setor</option>
            <option value="finalizado">Finalizado</option>
        </select>
    </li>
    <br>
    <a href="/tela-tecnico">🏠 Voltar para Tela do Técnico</a>
</ul>
</body>
</html>