<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Você está logado na Tela do Técnico</title>
</head>
<body>

<h2>Bem-vindo!</h2>

<h3>Chamados</h3>
<ul>
    <li>
        <strong>Usuário:</strong>root<br>
        <strong>Setor:</strong>TI<br>
        <strong>Descrição:</strong> Problema na rede<br>
        <strong>Prioridade:</strong> Alta<br>
        <strong>Data de Início:</strong> 2024-04-22<br>
        <br>
        <button><a href="/tela-chamado1">Abrir</a></button>
    </li>
    <br>
    <li>
        <strong>Usuário:</strong>root<br>
        <strong>Setor:</strong>TI<br>
        <strong>Descrição:</strong> Problema na máquina<br>
        <strong>Prioridade:</strong> Alta<br>
        <strong>Data de Início:</strong> 2024-04-22<br>
        <br>
        <button><a href="/tela-chamado2">Abrir</a></button>
    </li>
    <br>
    <li>
        <strong>Usuário:</strong>root<br>
        <strong>Setor:</strong>TI<br>
        <strong>Descrição:</strong> Problema impressora<br>
        <strong>Prioridade:</strong> Média<br>
        <strong>Data de Início:</strong> 2024-04-22<br>
        <br>
        <button><a href="/tela-chamado3">Abrir</a></button>
    </li>
    <br>
    <li>
        <strong>Usuário:</strong>root<br>
        <strong>Setor:</strong>TI<br>
        <strong>Descrição:</strong> Meu PDF não abre<br>
        <strong>Prioridade:</strong> Baixa<br>
        <strong>Data de Início:</strong> 2024-04-22<br>
        <br>
        <button><a href="/tela-chamado4">Abrir</a></button>
    </li>
    <br>
    <li>
        <strong>Usuário:</strong>root<br>
        <strong>Setor:</strong>TI<br>
        <strong>Descrição:</strong> Problema na rede<br>
        <strong>Prioridade:</strong> Alta<br>
        <strong>Data de Início:</strong> 2024-04-22<br>
        <br>
        <button><a href="/tela-chamado5">Abrir</a></button>
    </li>
</ul>

</body>
</html>